.table-heading {
  text-transform: uppercase;
}

.no-record-message {
  text-align: center;
  margin: 15px 0;
}

.table-actions a {
  margin: 0 5px;
}

.error-image {
  margin: 10px 0;
  width: 100%;
}

.error-msg {
  text-align: center;
}
