{% extends 'base.html' %} {% block container %}
<div class="row">
  <div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title">{{ _('Authentication Latest Data') }}</h5>
        <table class="mb-0 table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th class="table-heading">{{ _('Username') }}</th>
              <th class="table-heading">{{ _('Password') }}</th>
              <th class="table-heading">{{ _('Reply') }}</th>
              <th class="table-heading">{{ _('Called Station Id') }}</th>
              <th class="table-heading">{{ _('Calling Station Id') }}</th>
              <th class="table-heading">{{ _('Date and Time') }}</th>
            </tr>
          </thead>
          <tbody>
            {% for info in auth_info %}
            <tr>
              <td>{{ info.username }}</td>
              <td>{{ info.pass }}</td>
              <td>{{ info.reply }}</td>
              <td>{{ info.callingstationid }}</td>
              <td>{{ info.calledstationid }}</td>
              <td>{{ info.authdate }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if not auth_info %}
        <div class="no-record-message">{{ _('No record found') }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
