{% extends 'base.html' %} {% block header %}
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="fa fa-user-tag icon-gradient bg-happy-itmeo"></i>
      </div>
      <div>
        Groups
        <div class="page-title-subheading">
          Groups details and management.
        </div>
      </div>
    </div>
    <div class="page-title-actions">
      <button onclick="submitform()" class="btn-shadow btn btn-success">
        {% if action == 'add' %}
        <span class="btn-icon-wrapper pr-2 opacity-7">
          <i class="fa fa-plus fa-w-20"></i>
        </span>
        <span>Add</span>
        {% elif action == 'edit' %}
        <span class="btn-icon-wrapper pr-2 opacity-7">
          <i class="fa fa-edit fa-w-20"></i>
        </span>
        <span>Edit</span>
        {% endif %}
      </button>
    </div>
  </div>
</div>
{% endblock %} {% block container %}
<form id="group-form" method="POST">
  {{ form.csrf_token }}
  <div class="row">
    <div class="col-md-12">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <h5 class="card-title">Group details</h5>
              <div class="form-group">
                <label for="name">Name</label>
                {% if 'name' in form.errors %}
                {{ form.name(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                  {{ form.errors.get("name")[0] }}
                </div>
                {% else %}
                {{ form.name(class='form-control') }}
                {% endif %}
              </div>
              <div class="form-group">
                <label for="name">Description</label>
                {{ form.description(class='form-control', style='min-height: 120px;') }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %} {% block scripts %}
<script type="text/javascript">
  function submitform() {
    document.getElementById("group-form").submit();
  }
</script>
{% endblock %}
