{% extends 'base.html' %} {% block header %}
<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon">
        <i class="fa fa-users icon-gradient bg-happy-itmeo"></i>
      </div>
      <div>
        <strong>{{ _('User') }}:</strong> {{ user.username }}
        <div class="page-title-subheading">
          {{ user.name }}
        </div>
      </div>
    </div>
    <div class="page-title-actions">
      <div class="d-inline-block dropdown">
        <button
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          class="btn-shadow dropdown-toggle btn btn-info"
          disabled
        >
          <span class="btn-icon-wrapper pr-2 opacity-7">
            <i class="fa fa-file-export fa-w-20"></i>
          </span>
          {{ _('Export') }}
        </button>
        <div
          tabindex="-1"
          role="menu"
          aria-hidden="true"
          class="dropdown-menu dropdown-menu-right"
        >
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="javascript:void(0);" class="nav-link">
                <i class="nav-link-icon fa fa-file-csv"></i>
                <span>
                  CSV
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0);" class="nav-link">
                <i class="nav-link-icon fa fa-file-code"></i>
                <span>
                  JSON
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block container %}
<div class="row">
  <div class="col-lg-6">
    <div class="main-card mb-3 card">
      <div class="card-header-tab card-header">
        <div class="card-header-title">
          <i class="header-icon lnr-bicycle icon-gradient bg-love-kiss"> </i>
          <span>{{ _('Check Attributes') }}</span>
        </div>
        <div class="btn-actions-pane-right">
          <a
            href="{{ url_for('new_user_check', user_id=user.id) }}"
            class="btn btn-success btn-sm"
          >
            <span class="btn-icon-wrapper pr-2 opacity-7">
              <i class="fa fa-plus fa-w-20"></i>
            </span>
            {{ _('Add') }}
          </a>
        </div>
      </div>
      <div class="card-body">
        <table class="mb-0 table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th class="table-heading">#</th>
              <th class="table-heading">{{ _('Attribute') }}</th>
              <th class="table-heading">{{ _('Operation') }}</th>
              <th class="table-heading">{{ _('Value') }}</th>
              <th class="table-heading"></th>
            </tr>
          </thead>
          <tbody>
            {% for check in checks %}
            <tr>
              <td>{{ check.id }}</td>
              <td>{{ check.attribute }}</td>
              <td>{{ check.op }}</td>
              <td>{{ check.value }}</td>
              <td class="table-actions">
                {% if not check.attribute in ['Cleartext-Password',
                'Profile-Name'] %}
                <a
                  href="{{ url_for('delete_user_check', user_id=user.id, user_check_id=check.id) }}"
                >
                  <button class="btn btn-sm btn-danger">
                    <i class="fa fa-trash-alt"></i>
                  </button>
                </a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if not checks %}
        <div class="no-record-message">{{ _('No record found') }}</div>
        {% else %}
        <nav aria-label="Checks table navigation" style="margin: 10px 0;">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a
                class="page-link"
                href="{{ url_for('user_details', user_id=user.id, checks_page=checks_pagination.prev_num if checks_pagination.has_prev else 1) }}"
                >{{ _('Previous') }}</a
              >
            </li>
            <li class="page-item">
              <a
                class="page-link"
                href="{{ url_for('user_details', user_id=user.id, checks_page=checks_pagination.next_num if checks_pagination.has_next else 1) }}"
                >{{ _('Next') }}</a
              >
            </li>
          </ul>
        </nav>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="main-card mb-3 card">
      <div class="card-header-tab card-header">
        <div class="card-header-title">
          <i class="header-icon lnr-bicycle icon-gradient bg-love-kiss"> </i>
          <span>{{ _('Reply Attributes') }}</span>
        </div>
        <div class="btn-actions-pane-right">
          <a
            href="{{ url_for('new_user_reply', user_id=user.id) }}"
            class="btn btn-success btn-sm"
          >
            <span class="btn-icon-wrapper pr-2 opacity-7">
              <i class="fa fa-plus fa-w-20"></i>
            </span>
            {{ _('Add') }}
          </a>
        </div>
      </div>
      <div class="card-body">
        <table class="mb-0 table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th class="table-heading">#</th>
              <th class="table-heading">{{ _('Attribute') }}</th>
              <th class="table-heading">{{ _('Operation') }}</th>
              <th class="table-heading">{{ _('Value') }}</th>
              <th class="table-heading"></th>
            </tr>
          </thead>
          <tbody>
            {% for reply in replies %}
            <tr>
              <td>{{ reply.id }}</td>
              <td>{{ reply.attribute }}</td>
              <td>{{ reply.op }}</td>
              <td>{{ reply.value }}</td>
              <td class="table-actions">
                {% if not reply.attribute in ['Cleartext-Password',
                'Profile-Name'] %}
                <a
                  href="{{ url_for('delete_user_reply', user_id=user.id, user_reply_id=reply.id) }}"
                >
                  <button class="btn btn-sm btn-danger">
                    <i class="fa fa-trash-alt"></i>
                  </button>
                </a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if not replies %}
        <div class="no-record-message">{{ _('No record found') }}</div>
        {% else %}
        <nav aria-label="Replies table navigation" style="margin: 10px 0;">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a
                class="page-link"
                href="{{ url_for('user_details', user_id=user.id, replies_page=replies_pagination.prev_num if replies_pagination.has_prev else 1) }}"
                >{{ _('Previous') }}</a
              >
            </li>
            <li class="page-item">
              <a
                class="page-link"
                href="{{ url_for('user_details', user_id=user.id, replies_page=replies_pagination.next_num if replies_pagination.has_next else 1) }}"
                >{{ _('Next') }}</a
              >
            </li>
          </ul>
        </nav>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
