<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no" />

    <link
      href="{{ url_for('static', filename='styles/main.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="app-container app-theme-white body-tabs-shadow">
      <div class="app-container">
        <div class="h-100 bg-plum-plate bg-animation">
          <div class="d-flex h-100 justify-content-center align-items-center">
            <div class="mx-auto app-login-box col-md-8">
              <div class="modal-dialog w-100 mx-auto">
                <div class="modal-content">
                  <form class="">
                    <div class="modal-body">
                      <div class="h5 modal-title text-center">
                        <h4
                          class="themeoptions-heading"
                          style="margin-bottom: 15px;"
                        >
                          <span>Please sign in to your account below.</span>
                        </h4>
                      </div>
                      {{ login_user_form.csrf_token }}
                      <div class="form-row">
                        <div class="col-md-12">
                          <div class="position-relative form-group">
                            {{ login_user_form.email(placeholder='Username or email', class='form-control') }}
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="position-relative form-group">
                            {{ login_user_form.password(placeholder='Password', class='form-control') }}
                          </div>
                        </div>
                      </div>
                      <div class="position-relative form-check">
                        {{ login_user_form.remember(class='form-check-input') }}
                        <label for="remember" class="form-check-label"
                          >Keep me logged in</label
                        >
                      </div>
                    </div>
                    <div class="modal-footer clearfix">
                      <div class="float-left">
                        <a
                          href="{{ url_for('security.forgot_password') }}"
                          class="btn-lg btn btn-link"
                          >Recover Password</a
                        >
                      </div>
                      <div class="float-right">
                        {{ login_user_form.submit(class='btn btn-primary btn-lg', value='Login to Dashboard') }}
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='scripts/main.js') }}"
    ></script>
  </body>
</html>
